﻿body {
    background-color:rgb(0,0,0);
}
#colourForm {
    border: 1px solid black;
    background-color:white;
}
#backgroundColor {
    height: 100vh;
    width: 100vw;
}
#redPanel {
    background-color: rgb(128,0,0);
}
#greenPanel {
    background-color: rgb(0,128,0);
}
#bluePanel {
    background-color: rgb(0,0,128);
}
#change {
    border: 1px solid black;
}
.titleCenter {
    text-align: center;
    font-weight: bold;
}
.titleCenterWhite {
    text-align: center;
    color: white;
}
