﻿@{
    ViewData["Title"] = "Home Page";
}
<script>
    //document.getElementById("fixed").style.backgroundColor = "rgb(128,0,0)";
    function changeRed(value) {
        document.getElementById('redSlide').innerHTML = value;
        changeAll();
    }
    function changeGreen(value) {
        document.getElementById('greenSlide').innerHTML = value;
        changeAll();
    }
    function changeBlue(value) {
        document.getElementById('blueSlide').innerHTML = value;
        changeAll();
    }
    function changeAll() {
        var r = document.getElementById('redSlide').value;
        var g = document.getElementById('greenSlide').value;
        var b = document.getElementById('blueSlide').value;
        document.getElementById('change').style.backgroundColor = "rgb(" + r + "," + g + "," + b + ")";
    }
    function colourChange() {
        var x = parseInt(document.forms["colourForm"]["red"].value,10);
        var y = parseInt(document.forms["colourForm"]["green"].value,10);
        var z = parseInt(document.forms["colourForm"]["blue"].value,10);
        document.getElementById('backgroundColor').style.backgroundColor = "rgb(" + x + "," + y + "," + z + ")";
        if (x + y + z < 200) {
            document.getElementById('textMenuColour').style.color = "white";
            document.getElementById('textMenuColour1').style.color = "white";
        }
        if (x + y + z > 600) {
            document.getElementById('textMenuColour').style.color = "black";
            document.getElementById('textMenuColour1').style.color = "black";

        }
    }
    function resetChange() {
        document.getElementById('backgroundColor').style.backgroundColor = "rgb(255,255,255)";
        document.getElementById('textMenuColour').style.color = "black";
        document.getElementById('textMenuColour1').style.color = "black";
    }

</script>
<div>
    <form id="colourForm" onsubmit="return validateForm()">
        <div id="redPanel">
            <div class="titleCenterWhite">Red<br></div>
            <input type="range" name="red" oninput="changeRed(this.value)" onchange="changeRed(this.value)" id="redSlide" value="128" min="0" max="255"><br />
        </div>
        <div id="greenPanel">
            <div class="titleCenterWhite">Green<br></div>
            <input type="range" name="green" oninput="changeGreen(this.value)" onchange="changeGreen(this.value)" id="greenSlide" value="128" min="0" max="255"><br />
        </div>
        <div id="bluePanel">
            <div class="titleCenterWhite">Blue<br></div>
            <input type="range" name="blue" oninput="changeBlue(this.value)" onchange="changeBlue(this.value)" id="blueSlide" value="128" min="0" max="255"><br />
        </div>
        <div id="formColor">
            <br>
            <h2 class="titleCenter">Preview</h2>
            <div id="change" style="height:50px"></div>
            <button type="button" onclick="colourChange()">Submit</button>
            <button type="button" onclick="resetChange()">Reset</button>
        </div>
    </form>
</div>


